<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	{{!-- bootstrap --}}
	{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> --}}
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="icon" type="image/jpg" href="/assets/img/pics/Rouge.jpg" />
	<title>RougeBlitz</title>
	{{!-- Phaser --}}
	<script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}

</body>

</html>