<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	{{!-- Bootstrap --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	{{!-- Custom CSS --}}
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	{{!-- Favicon --}}
	<link rel="icon" type="image/jpg" href="/assets/img/pics/favicon.ico" />
	{{!-- Font Awesome --}}
	<link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
	{{!-- Google Font --}}
	<link href="https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Sansita+Swashed:wght@500&display=swap"
		rel="stylesheet">
	<title>RougeBlitz</title>
	{{!-- Phaser --}}
	<script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.js"></script>
	{{!-- Phaser-Raycast Plugin --}}
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/phaser-raycaster@0.8.1/dist/phaser-raycaster.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}

</body>

</html>