{{!-- Jumbotron --}}
<header>
    <div class="jumbotron text-center">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 offset-xs-3 float-md-center"></div>
        <div class="page-header">
            <h1>RogueBlitz</h1>
        </div>
    </div>
</header>

{{!-- Game Summary --}}

<summary>
    <div class="container-lg">
        <div class="card-body text-muted">

            <h3>
                <center> <strong>Your Journey Awaits! </strong> </center>
            </h3>
            <p>
                In a dungeon full of creatures, living breeds from other dimensions that slumber throughout the
                underworld have woken from a mysterious encounter. The main player of this story is branded as
                a dishonored warrior and has been sent to the underworld by fate and walked the path of being a rogue.
                This gives players the opportunity to play a game that has; no chance for life, but a chance for glory!
            </p>
        </div>
    </div>

    <div id="mygame">
        <script type="module" src="/assets/js/mainGame.js" defer></script>
    </div>

</summary>

{{!-- Contact Info --}}

<aside id="contact">
    <form class="container form">
        <div class="row text-center">
            <div class="col">
                <h2 class="section-heading text-danger">Contact Us</h2>
                <h3 class="section-subheading text-muted">Want to make games like us? <br>
                    Ask us Questions.</h3>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name *">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Email *">
        </div>
        <div class="form-group">
            <label for="exampleInputPhone1">Phone Number</label>
            <input type="text" class="form-control" id="formGroupExampleInput"
                placeholder="Enter Best Contact Number *">
        </div>
        <div class="form-group">
            <label for="exampleInputMessage">Send Message</label>
            <input type="text" class="form-control" id="formGroupExampleInput"
                placeholder="Tell us what you look for in a game? *">
            <button type="submit" class="btnbtn">Submit</button>
        </div>

    </form>
</aside>

{{!-- Team RogueBlitz --}}

<article>
    <div class="container team">
        <div id="team4" style="text-align: center;">
            <h2 class="section-heading" style="color: blueviolet">Meet The Team</h2>
            <h3 class="section-subheading text-muted">Want to make games like us?
                <br>
                Ask us whats on your mind </h3><br> <br>
        </div>
        <div class="row">
            <div class="col" style="margin-block-end: 16px;">
                <div class=" card">
                    <div class="container" id="team">
                        <h2>Miles Cohn</h2>
                        <p class="title">Project Manager & Lead Game Designer</p>
                        <a href="https://github.com/KilometersDodecahedron" class="button" role="button"
                            aria-pressed="true">Github</a>
                    </div>
                </div>
            </div>

            <div class="col" style="margin-block-end: 16px;">
                <div class="card">
                    <div class="container" id="team">
                        <h2>Troy Berentsen</h2>
                        <p class="title">Front End Developer</p>
                        <a href="https://github.com/tmbx9482" class="button" role="button"
                            aria-pressed="true">Github</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col" style="margin-block-end: 16px;">
                <div class="card">
                    <div class="container" id="team">
                        <h2>Christopher Crook</h2>
                        <p class="title">Enemy Balancing & Quality Assurance</p>
                        <a href="https://github.com/chrissy613" class="button" role="button"
                            aria-pressed="true">Github</a>
                    </div>
                </div>
            </div>

            <div class="col" style="margin-block-end: 16px;">
                <div class="card">
                    <div class="container" id="team">
                        <h2>Carlos Benitez</h2>
                        <p class="title">Back End Developer</p>
                        <a href="https://github.com/Carlosbenitez" class="button" role="button"
                            aria-pressed="true">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>

<footer>
    <p>
        <bigger>Developed by: Troy Berentsen, Miles Cohn, Christopher Crook, and Carlos Benitez
            <br>
            &copy; 2020 🐱‍🏍🖱💻
        </bigger>
    </p>
</footer>