chris
<script type="module" src="/assets/js/mainGame.js" defer></script>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-2">RogueBlitz</h1>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-header">

                    <h2>How To Play</h2>
                    <p>Arrow Keys -Move</p>
                    <p>Space Bar - Attack</p>
                    <p>Key C : Item One</p>
                    <p>Key V : Item Two</p>
                    <p>Key N : Item Three</p>
                    <p>Key B : Item Four</p>

                    <script type="module" src="/assets/js/mainGame.js" defer></script>

