/* Make everything a border box */
*, *::after, *::before {
    box-sizing: border-box;
}

/* creating css variables to organize everything */
:root {
    --cell-size: 70px;
    --rows-in-grid: repeat(10, auto);
    --cell-borders: 1px solid black;
    /* set size of tiles, characters, and items */
    --tile-size: var(--cell-size);
    --character-size: calc(var(--cell-size) * 0.9);
    --item-size: calc(var(--cell-size) * 0.7);
}

/* set no margins on body */
body {
    margin: 0;
}

/* have board take up the whole screen, so easier to center game */
.board {
    width: 100vw;
    height: 100vh;
    /* center everything in the board */
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* arrange cells into a grid */
    /* I set it to 10 to start (10 x 10 = 100), but we'll see how many we need */
    grid-template-columns: var(--rows-in-grid);
}

/* set the size of the cells on the grid */
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /* give the cells a boarder */
    border: var(--cell-borders);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
}

/* .cell:nth-child(2n + 4) {
    background-color: red;
} */