/* Make everything a border box */
*, *::after, *::before {
    box-sizing: border-box;
}

/* creating css variables to organize everything */
:root {
    --cell-size: 70px;
    --rows-in-grid: repeat(10, auto);
    --cell-borders: 1px solid black;
    /* set size of tiles, characters, and items */
    --tile-size: var(--cell-size);
    --character-size: calc(var(--cell-size) * 0.9);
    --item-size: calc(var(--cell-size) * 0.7);
}