body {
        color: #FFFFFF;
        background-image: linear-gradient(43deg, #DA0505 0%, #000000 56%, #FF0306 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Times New Roman', Times, serif
    }


header {
    text-align: center;
   
}

.jumbotron {
color: #FF0306;
background: url(../img/pics/backround.gif);
background-color: #e9ecef;
border-radius: .3rem;
padding: 2rem 1rem;
margin-bottom: 2rem;
}

@media (min-width: 576px)
{.jumbotron {
    padding: 4rem 2rem;
}


#contact {
  float: right;
  
    
}

/*--- Footer Section ---*/

footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    background: #000000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  footer p {
    color: firebrick;
  }


